<aside class="menu">
  <p class="menu-label">
    Welcome
  </p>
  <ul class="menu-list">
    <li>
      <a routerLink="/home" routerLinkActive="is-active">Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="is-active">About</a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="is-active">Movies</a>
    </li>
    <p class="menu-label">
      Admin
    </p>
    <li>
      <a routerLink="/admin" routerLinkActive="is-active">Dashboard</a>
    </li>
  </ul>
</aside>
