<div class="columns">
  <div class="column is-two-fifths">
    <aside class="menu">
      <p class="menu-label">
        Welcome
      </p>
      <ul class="menu-list">
        <li>
          <a routerLink="/home" routerLinkActive="is-active">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="is-active">About</a>
        </li>
        <p class="menu-label">
          Movies
        </p>
        <li>
          <a routerLink="/movies" routerLinkActive="is-active">Movies</a>
        </li>
      </ul>
    </aside>
  </div>
</div>
<hr>