<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<section class="hero" *ngIf="!isLoading">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-half">
        <h3 class="title has-text-grey">Login</h3>
        <div class="box">
          <form #loginForm="ngForm">
            <div class="field">
              <div class="control">
                <input id="e2e-email" class="input" type="email" placeholder="Your Email" autofocus="" name="email" [(ngModel)]="username" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input id="e2e-password" class="input" type="password" placeholder="Your Password" name="password" [(ngModel)]="password" required>
              </div>
            </div>
            <a id="e2e-login-btn" class="button is-block is-info" (click)="login()">Login</a>
          </form>
        </div>
        <p class="has-text-grey">
          <a (click)="hint()">Pssst. Get hint.</a>
        </p>
      </div>
    </div>
  </div>
</section>