
<!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->

<h2 class="title is-2">List of movies</h2>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Runtime</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <th><span id="e2e-title">{{ movie.title }}</span> <a class="delete" (click)="deleteMovie(movie)"></a></th>
      <td>{{ movie.director }}</td>
      <td>{{ movie.runtime }}</td>
      <td><a id="e2e-edit" (click)="editMovie(movie)">Edit</a></td>
    </tr>
  </tbody>
</table>

<h2 class="title is-2">Create movie</h2>

<form #movieForm="ngForm" (ngSubmit)="addMovie(); movieForm.reset()">

  <div class="field">
    <label class="label">Title</label>
    <div class="control has-icons-right">
      <input class="input" id="title" type="text" name="title" placeholder="Title" required minlength="1" [(ngModel)]="title" #movieTitle="ngModel">
      <div *ngIf="(movieTitle.dirty || movieTitle.touched)">
        <span class="icon is-small is-right">
          <i *ngIf="!movieForm.value.title" class="fa fa-warning"></i>
        </span>
        <p *ngIf="!movieForm.value.title" class="help is-danger">Title is required</p>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Director</label>
    <div class="control has-icons-right">
      <input class="input" id="director" type="text" name="director" placeholder="Director" required minlength="1" [(ngModel)]="director" #movieDirector="ngModel">
      <div *ngIf="(movieDirector.dirty || movieDirector.touched)">
        <span class="icon is-small is-right">
          <i *ngIf="!movieForm.value.director" class="fa fa-warning"></i>
        </span>
        <p *ngIf="!movieForm.value.director" class="help is-danger">Director is required</p>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Runtime</label>
    <div class="control has-icons-right">
      <input class="input" id="runtime" type="number" name="runtime" placeholder="Runtime" required minlength="1" [(ngModel)]="runtime" #movieRuntime="ngModel">
      <div *ngIf="(movieRuntime.dirty || movieRuntime.touched)">
        <span class="icon is-small is-right">
          <i *ngIf="!movieForm.value.runtime" class="fa fa-warning"></i>
        </span>
        <p *ngIf="!movieForm.value.runtime" class="help is-danger">Runtime is required</p>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button id="add-movie" type="submit" class="button is-link" [disabled]="!movieForm.form.valid">Add movie</button>
    </div>
  </div>

</form>