<h2 class="title is-2">Movies</h2>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!isLoading">
  <div class="columns is-centered">
    <div class="column" *ngFor="let movie of movies; let i = index">
      <div>
        <p class="has-text-centered"><strong>{{ movie.title }}</strong></p>
        <star-rating-comp 
          [starType]="'svg'" 
          [rating]="averageRatings[i]"
          [disabled]="true"
          [showHalfStars]="true">
        </star-rating-comp>
        <p class="has-text-centered">Average rating of: {{ averageRatings[i] }}</p>
      </div>
    </div>
  </div>
</div>
