<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading">
	<div *ngIf="!editMode">
		<strong>Title: </strong><p>{{ movie?.title }}</p>
		<strong>Director:</strong><p>{{ movie?.director }}</p>
		<strong>Runtime:</strong><p>{{ movie?.runtime }}</p>
		<a [routerLink]="['rating']">See movie rating</a>
		<router-outlet></router-outlet>
	</div>

	<div *ngIf="editMode">
		<h2>Edit</h2>
		<form #editForm="ngForm" (ngSubmit)="updateMovie(movie)">
			<div class="field">
				<label class="label">Title</label>
				<div class="control has-icons-right">
					<input class="input" id="title" type="text" name="title" placeholder="Title" required minlength="1" [ngModel]="movie?.title" (ngModelChange)="movie.title=$event" #movieTitle>
					<div *ngIf="(movieTitle.dirty || movieTitle.touched)">
						<span class="icon is-small is-right">
							<i *ngIf="!movie.title" class="fa fa-warning"></i>
						</span>
						<p *ngIf="!movie.title" class="help is-danger">Title is required</p>
					</div>
				</div>
			</div>
			
			<div class="field">
				<label class="label">Director</label>
				<div class="control has-icons-right">
					<input class="input" id="director" type="text" name="director" placeholder="Director" required minlength="1" [ngModel]="movie?.director" (ngModelChange)="movie.director=$event"
					#movieDirector>
					<div *ngIf="(movieDirector.dirty || movieDirector.touched)">
						<span class="icon is-small is-right">
							<i *ngIf="!movie.director" class="fa fa-warning"></i>
						</span>
						<p *ngIf="!movie.director" class="help is-danger">Director is required</p>
					</div>
				</div>
			</div>
			
			<div class="field">
				<label class="label">Runtime</label>
				<div class="control has-icons-right">
					<input class="input" id="runtime" type="number" name="runtime" placeholder="Runtime" required minlength="1" [ngModel]="movie?.runtime" (ngModelChange)="movie.runtime=$event"
					#movieRuntime>
					<div *ngIf="(movieRuntime.dirty || movieRuntime.touched)">
						<span class="icon is-small is-right">
							<i *ngIf="!movie.runtime" class="fa fa-warning"></i>
						</span>
						<p *ngIf="!movie.runtime" class="help is-danger">Runtime is required</p>
					</div>
				</div>
			</div>

			<button id="update-movie" type="submit" class="button is-link">Save</button>
			<a routerLink="/admin" class="button">Cancel</a>

		</form>
	</div>
</div>